<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ucm.as_tutor">

    <!-- Permisos requeridos -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- Final permisos requeridos -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_header"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentacion.vista.main.Bienvenido"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentacion.vista.main.DetalleActivity"
            android:label="@string/title_activity_detalle_activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentacion.vista.main.MainActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentacion.vista.usuario.tarea.UsuarioTareasActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentacion.vista.main.Decision" />
        <activity
            android:name=".presentacion.vista.tutor.RegistroTutor"
            android:label="@string/title_activity_registro"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".presentacion.vista.usuario.tarea.UsuarioTareaDetalleActivity"/>
        <activity android:name=".presentacion.vista.main.Acceso"/>
    </application>

</manifest>
